body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.contenedor{
    background-color: rgb(0, 76, 255);
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contenedor .sub-contenedor{
    width: 600px;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(1, 5, 87, 0.675);
}

.contenedor .sub-contenedor .contenido{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
    flex: auto;
}

.contenedor .sub-contenedor .contenido .icon{
    margin-right: 10px;
}

.contenedor .sub-contenedor .contenido .mensaje .title{
    font-weight: bolder;
}

.contenedor .sub-contenedor .actions{
    padding: 10px 0px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor .sub-contenedor .actions button{
    border: none;
    padding: 15px;
    min-width: 120px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 13px;
    cursor: pointer;
}

.contenedor .sub-contenedor .actions .btn-descargar{
    background-color: rgb(0, 55, 255);
    color: white;
}

.contenedor .sub-contenedor .actions .btn-descargar:hover{
    background-color: rgb(4, 22, 88);
    color: white;
}

.contenedor .sub-contenedor .actions .btn-volver{
    background-color: rgb(246, 246, 246);
    color: #000;
}

.contenedor .sub-contenedor .actions .btn-volver:hover{
    background-color: rgb(182, 182, 182);
    color: rgb(32, 32, 32);
}

@media (max-width:600px){
    .contenedor .sub-contenedor{
        width: 80%;
        margin: auto;   
    }

    .contenedor .sub-contenedor .actions{
        flex-direction: column;
        align-items: center;
    }
}





